@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');

:root {
    --primary-color: #FF7E1B;
  }

*{
    font-family: 'Kumbh Sans', sans-serif;
    list-style-type: none;
}

body{
    padding: 1% 10%;
    position: relative;
}

#backgroundDisplay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000ad;
    display: none;
}


nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

nav>* {
    height: 100%;
    display: flex;
}

nav #menuMobile {
    display: none;
}

nav #menuMobileSlide{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 70%;
    display: none;
}

nav #menuMobileSlide #menuMobileClose{
    cursor: pointer;
}

nav #menuMobileSlide ul{
    padding: 0px;
    margin: 0px;
}

nav #menuMobileSlide ul li{
    padding: 1em 0.5em;
}

nav #menuMobileSlide ul li a{
    text-decoration: none;
    color: black;
}

nav #logo{
    justify-content: center;
    align-items: center;
}

nav #logo img {
    height: 25%;
}

nav #menu{
    align-items: center;
}

nav #menu li{
    padding: 0 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #menu li:hover{
    color: black;
    font-weight:600;
    border-bottom: 3px solid var(--primary-color);
}

nav #menu li a{
    text-decoration: none;
    color: rgba(105, 112, 125, 1);
}

nav #profilMenu {
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

nav #profilMenu #cartImg{
    height: 25%;
    cursor: pointer;
}

nav #profilMenu #profilImg{
    height: 60%;
    cursor: pointer;
}

nav #profilMenu #profilImg:hover{
    border-radius: 50%;
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

nav #profilMenu #cartDisplay{
    display: none;
    background-color: white;
    width: 250px;
    top: 100px;
    border-radius: 0.5em;
    position: absolute;
    box-shadow: 0px 7px 8px 2px rgba(128, 128, 128, 0.411);
}

nav #profilMenu #cartDisplay p{
    padding: 0em 1em;
}

nav #profilMenu #cartDisplay hr{
    margin: 0;
}

nav #profilMenu #cartDisplay #cartItems{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0em;
}

#sectionProduit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#sectionProduit article {
    padding: 10%;
}

#sectionProduit #produit img {
    width: 100%;
    border-radius: 0.5em;
}

#sectionProduit #produit #imgZoom:hover {
    cursor: pointer;
}

#produitBackgroundModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#produitBackgroundModal #produitModal{
    width: 40%;
}

#produitBackgroundModal #produitModal #produitModalHeader{
    display: flex;
    justify-content: end;
}

#produitBackgroundModal #produitModal #produitModalHeader #closeModal:hover{
    opacity: 50%;
    cursor: pointer;
}

#produitBackgroundModal #produitModalHeader img{
    width: 5%;
    padding-bottom: 1em;
}

#produitBackgroundModal #produitModalBody{
    position: relative;
}

#produitBackgroundModal #produitModalBody #previousProduitModalBody{
    position: absolute;
    width: 8%;
    height: 8%;
    left: -4%;
    top: 45%;
    border-radius: 50%;
    border: none;
}

#produitBackgroundModal #produitModalBody #previousProduitModalBody img{
    width: 50%;
}

#produitBackgroundModal #produitModalBody #previousProduitModalBody img:hover{
    opacity: 50%;
    cursor: pointer;
}

#produitBackgroundModal #produitModalBody #nextProduitModalBody{
    position: absolute;
    width: 8%;
    height: 8%;
    right: -4%;
    top: 45%;
    border-radius: 50%;
    border: none;
}

#produitBackgroundModal #produitModalBody #nextProduitModalBody img{
    width: 50%;
}

#produitBackgroundModal #produitModalBody #nextProduitModalBody img:hover{
    opacity: 50%;
    cursor: pointer;
}

#produitBackgroundModal #produitModalBody img{
    width: 100%;
    border-radius: 1em;
}

#produitBackgroundModal #produitModalFooter{
    display: flex;
    padding: 2em 2em;
    justify-content: space-around;
}

#produitBackgroundModal #produitModalFooter img{
    width: 20%;
    border-radius: 1em;
}

#produitBackgroundModal #produitModalFooter img:hover{
    filter: brightness(60%);
    cursor: pointer;
}

section #produit #imgGallery{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1em;
}

section #produit #imgGallery img{
    width: 20%;
    border-radius: 0.5em;
}

section #produit #imgGallery img:hover{
    opacity: 50%;
}

section #description #brand{
    color: var(--primary-color);
    text-transform: uppercase;
}

section #description #productName{
    margin: 0.5em 0;
    font-size: xx-large;
}

section #description #price{
    font-size: larger;
}

section #description #reductionPourcent{
    background-color: #FFEEE2;
    color: var(--primary-color);
    padding: 0.2em 0.5em;
    margin-left: 1em;
    border-radius: 0.5em;
}

section #description #initialPrice{
    color: #B6BCC8;
    font-size:small;
    font-weight: bold;
}

section #description #cartAction{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section #description #cartAction div{
    display: flex;
    background-color: #F6F8FD;
    justify-content: space-around;
    padding: 1em;
}

section #description #cartAction button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

section #description #cartAction #btnAddToCart{
    margin-left: 1em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1em;
    display: flex;
}

section #description #cartAction #btnAddToCart:hover{
    opacity: 50%;
}


section #description #cartAction #btnAddToCart img{
    filter: brightness(0) invert(1);
}

section #description #cartAction #btnAddToCart span{
    margin-left: 1em;
}

@media (max-width: 1000px) { 

    nav{
        grid-template-columns: 1fr 4fr 1fr;
    }

    nav #menuMobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav #logo {
        display: flex;
        justify-content:flex-start;
    }

    nav #menu {
        display: none;
    }

    #sectionProduit {
        grid-template-columns: 1fr;
    }

}